{% extends "layout.html" %}
{% block title %}Graphs{% endblock %}
{% block head %}
<script type="text/javascript" src="./static/Chart.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    var graphs=[];
    var ctx=[];
    var i=0;
    var datas=[];
    var options=[]

    for (i=0; i<4; i++)
    {
    ctx[i]=document.getElementById("rssi_"+(i+1).toString()).getContext("2d");
    datas[i]={
             type: 'line',
             data:{
             labels:['1','2','3','4','5','6','7','8','9','10','10','12','13','14','15','16','17','18','19','20','21','22','23','24','25'],
             datasets:[{
               label: "RSSI",
               fill: false,
               borderColor: "#ff00ff",
               backgroundColor: "#ff00ff",
	             data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
               lineTension:0,
               pointRadius:0
             },
             {
               label: "peak",
               fill: false,
               borderColor: "#000000",
               backgroundColor: "#000000",
               data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
               lineTension:0,
               pointRadius:0
             },
	           {
               label: "trigger",
      	       fill: false,
               borderColor: "#ff0000",
               backgroundColor: "#ff0000",
	             data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
               lineTension:0,
               pointRadius:0
      	     },
             {
              label:"Calibration Offset",
              fill: false,
              borderColor:"#FFFF00",
              backgroundColor: "#FFFF00",
              data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
              lineTension:0,
              pointRadius:0

             },
             {
              label:"Calibration Trehsold",
              fill: false,
              borderColor:"#00FF00",
              backgroundColor: "#00FF00",
              data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
              lineTension:0,
              pointRadius:0

             },
             {
              label:"Trigger Trehsold",
              fill: false,
              borderColor:"#112233",
              backgroundColor: "#112233",
              data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
              lineTension:0,
              pointRadius:0
             },
	     ],
           },
           options:{
              animation:{
                duration:0
              },
              tooltips:{
                enabled:false
              },
             scales: {
               yAxes: [{
    							ticks: {
                    suggestedMin: 0,
                    beginAtZero:true,
    								min: 90,
    								max: 300,
    								stepSize: 10
    							},
    					}]
            }
          }
         };
    graphs[i] = new Chart(ctx[i],datas[i]);
   }
    socket.on('heartbeat', function (msg) {
       for (i=0; i<msg.current_rssi.length; i++)
       {
           setrssi(datas[i].data.datasets[0].data,msg,i)
           graphs[i] = new Chart(ctx[i],datas[i]);
       }
       return 0;
     });
    socket.on('node_data',function (msg) {
       for (i=0; i<msg.peak_rssi.length; i++)
       {
           setpeak(datas[i].data.datasets[1].data,msg,i)
           settrigger(datas[i].data.datasets[2].data,msg,i)
           graphs[i] = new Chart(ctx[i],datas[i]);
       }
       return 0;

	    return 0;
     });
     function setrssi(data,msg,idx){
     data.push(msg.current_rssi[idx]);
     data.shift();
    }
     function setpeak(data,msg,idx){
     data.push(msg.peak_rssi[idx]);
     data.shift();
    }
     function settrigger(data,msg,idx){
     data.push(msg.trigger_rssi[idx]);
     data.shift();
    }

		});
</script>
{% endblock %}

{% block content %}

<table class="table">
 <tr>
   <td width="50%"><canvas id="rssi_1" width="400" height="300" ></canvas</td>
   <td width="50%"><canvas id="rssi_2" width="400" height="300"></canvas></td>
 </tr>
 <tr>
  <td width="50%"><canvas id="rssi_3" width="400" height="300"></canvas></td>
  <td width="50%"><canvas id="rssi_4" width="400" height="300"></canvas></td>
 </tr>
</table>

{% endblock %}
