<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Delta5 VTX Timer">
	<title>{% block title %}{% endblock %} - Delta5 Race Timer</title>

	<!-- Script libraries -->
	<script type="text/javascript" src="./static/jquery-3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="./static/articulate/articulate.js"></script>
	<script type="text/javascript" src="./static/socket.io-1.3.5/socket.io.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="./static/bootstrap-3.3.7/css/bootstrap.min.css"></link>
	<script type="text/javascript" src="./static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/delta5.js"></script>

	<!-- Child template head content -->
	{% block head %}{% endblock %}
</head>

<body>
	<!--Navigation-->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<span class="navbar-brand" href="#">Delta 5 Race Timer</span>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Rounds</a></li>
					<li><a href="/heats">Heats</a></li>
					<li><a href="/race">Race</a></li>
					<li><a href="/settings">Settings</a></li>
					<li><a href="/graphs"> Graphs </a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!--Main content-->
	<div class="container">
		<!--Child template content-->
		{% block content %}{% endblock %}
	</div>

</body>

</html>
