{% extends "layout.html" %} {% block title %}Nodes Informations{% endblock %}
{% block head %}
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
{% block content %}
<h3> Nodes information <h3>
{% endblock %}
