{% extends "layout.html" %} {% block title %}Race{% endblock %}{% block head %}

<audio id="buzzer" src="./static/audio/buzzer.mp3" type="audio/mp3"></audio>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		var buzzer = $('#buzzer')[0];

		$('#calibrate_first_pass').click(function (event) {
				if (document.getElementById('calibrate_first_pass').checked) {
						document.cookie = "calibrate_first_pass=true";
				}
				else {
						document.cookie = "calibrate_first_pass=false";
				}
		});

		socket.on('race_status', function (msg) {
			switch (msg.race_status) {
				case 1: // Race running
					$('button#current_heat').attr('disabled', 'disabled');
					$('button#start_race').attr('disabled', 'disabled');
					$('button#start_race_2min').attr('disabled', 'disabled');
					$('button#stop_race').removeAttr('disabled');
					$('button#save_laps').attr('disabled', 'disabled');
					$('button#clear_laps').attr('disabled', 'disabled');
					break;
				case 2: // Race stopped, clear or save laps
					$('button#current_heat').attr('disabled', 'disabled');
					$('button#start_race').attr('disabled', 'disabled');
					$('button#start_race_2min').attr('disabled', 'disabled');
					$('button#stop_race').attr('disabled', 'disabled');
					$('button#save_laps').removeAttr('disabled');
					$('button#clear_laps').removeAttr('disabled');
					break;
				default: // Waiting to start new race
					$('button#current_heat').removeAttr('disabled');
					$('button#start_race').removeAttr('disabled');
					$('button#start_race_2min').removeAttr('disabled');
					$('button#stop_race').attr('disabled', 'disabled');
					$('button#save_laps').attr('disabled', 'disabled');
					$('button#clear_laps').attr('disabled', 'disabled');
			}
		});

		socket.on('heartbeat', function (msg) {
			for (i = 0; i < msg.current_rssi.length; i++) {
				$('.current_rssi_' + i).html(msg.current_rssi[i]);
				$('#current_rssi_bar_' + i).css("width", normalize_rssi(msg.current_rssi[i])+'%');
			}
		});

		socket.on('node_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				$('.trigger_rssi_' + i).html(msg.trigger_rssi[i]);
				$('.peak_rssi_' + i).html(msg.peak_rssi[i]);
				$('#peak_rssi_' + i).html(msg.peak_rssi[i]);
				$('#peak_rssi_bar_' + i).css("width", normalize_rssi(msg.peak_rssi[i])+'%');
				$('#trigger_rssi_' + i).html(msg.trigger_rssi);
				$('#trigger_rssi_bar_' + i).css("width", normalize_rssi(msg.trigger_rssi[i])+'%');
			}
		});

		socket.on('current_laps', function (msg) {
			$.each(msg.node_index, function (i, node_index) { // i is loop num, node_index is json array
				$('#current_laps_' + i + ' tbody > tr').remove();
				$.each(node_index.lap_id, function (j, lap_id) { // j is loop num, lap_id is not used
					// No lap deletion for first lap
					if (node_index.lap_id[j] == 0) {
						var $tr = $('<tr>').append(
							$('<td>').text(node_index.lap_id[j]),
							$('<td style="padding-right: 0px">').text(node_index.lap_time[j])
						).appendTo('#current_laps_' + i);
					}
					else {
						var $tr = $('<tr>').append(
							$('<td>').text(node_index.lap_id[j]),
							$('<td style="padding-right: 0px">').text(node_index.lap_time[j] + ' ').append(
								$('<button type="button" class="btn btn-default glyphicon glyphicon-remove delete_lap" style="padding: 0px" data-node="' + i + '" data-lapid="' + node_index.lap_id[j] + '" onclick="this.blur();">')
							)
						).appendTo('#current_laps_' + i);
					}

				});
			});
			// buzzer.play(); // Play buzzer on new lap but not on page load?
		});

		socket.on('leaderboard', function (msg) {
			$('#leaderboard tbody > tr').remove();
			for (i = 0; i < msg.position.length; i++) {
				var $tr = $('<tr>').append(
					$('<td>').text(msg.position[i]),
					$('<td>').text(msg.callsign[i]),
					$('<td>').text(msg.laps[i]),
					$('<td>').text(msg.last_lap[i]),
					$('<td>').text(msg.behind[i]),
					$('<td>').text(msg.average_lap[i]),
					$('<td>').text(msg.fastest_lap[i]),
					$('<td>').text(msg.total_time[i]),
				).appendTo('#leaderboard');
			}
		});

		socket.on('phonetic_data', function (msg) {
			var $ttstest = msg.pilot + " " + msg.phonetic;
			speak('<div class="speech">' + $ttstest + '</div> div.speech');
		})

		socket.on('language_data', function (msg) {
			var $testlang = msg.language;
			sellang = $testlang;
		})

		socket.on('current_heat', function (msg) {
			$('.current_heat').html('Heat ' + msg.current_heat);
			for (i = 0; i < msg.callsign.length; i++) {
				$('.callsign_' + i).html(msg.callsign[i]);
			}
		});

		socket.on('start_timer', function (msg) {
			timer.reset(-1); // Stop and reset with -1 seconds to catch buzzer
			timer.mode(1); // Count up mode
			timer.start(); // Start clock
		});

		socket.on('start_timer_2min', function (msg) {
			timer.reset({{fix_race_time+1}});
			timer.mode(0); // Count down mode
			timer.start(); // Start clock
		});

		socket.on('stop_timer', function (msg) {
			timer.stop();
		});


		$('button#recalibrate').click(function (event) {
			var data = {
					node: parseInt($(this).data('node')),
			};
			socket.emit('calibrate_node', data);
			return false;
		});
		$('button#start_race').click(function (event) {

			if (!document.getElementById('calibrate_first_pass').checked)  {
					socket.emit('start_race');
			}
			else {
					socket.emit('start_race_no_cal');
			}

			return false;
		});

		$('button#start_race_2min').click(function (event) {
			socket.emit('start_race_2min');
			return false;
		});

		$('button#stop_race').click(function (event) {
			socket.emit('stop_race');
			return false;
		});

		$('button#save_laps').click(function (event) {
			socket.emit('save_laps');
			return false;
		});

		$('button#clear_laps').click(function (event) {
			socket.emit('clear_laps');
			return false;
		});

		$(document).on("click", ".delete_lap", function (event) { // Needed for buttons added after document load
			var data = {
				node: parseInt($(this).data('node')),
				lapid: parseInt($(this).data('lapid')),
			};
			socket.emit('delete_lap', data);
			return false;
		});

		$('.set_current_heat li a').click(function (event) {
			var data = {
				heat: parseInt($(this).data('heat')),
			};
			socket.emit('set_current_heat', data);
		});
	});

	var sellang = {{ lang_id }};

	function speak(obj) {
		switch (sellang) {
			case 1:
				$(obj).articulate('setVoice','name','Microsoft David Desktop - English (United States)').articulate('speak');
				break;
			case 2:
				$(obj).articulate('setVoice','name','Microsoft Zira Desktop - English (United States)').articulate('speak');
				break;
			case 3:
				$(obj).articulate('setVoice','name','Google US English').articulate('speak');
				break;
			case 4:
				$(obj).articulate('setVoice','name','Google UK English Female').articulate('speak');
				break;
			case 5:
				$(obj).articulate('setVoice','name','Google UK English Male').articulate('speak');
				break;
			case 6:
				$(obj).articulate('setVoice','name','Google Deutsch').articulate('speak');
				break;
			case 7:
				$(obj).articulate('setVoice','name','Google español').articulate('speak');
				break;
			case 8:
				$(obj).articulate('setVoice','name','Google español de Estados Unidos').articulate('speak');
				break;
			case 9:
				$(obj).articulate('setVoice','name','Google français').articulate('speak');
				break;
			case 10:
				$(obj).articulate('setVoice','name','Google हिन्दी').articulate('speak');
				break;
			case 11:
				$(obj).articulate('setVoice','name','Google Bahasa Indonesia').articulate('speak');
				break;
			case 12:
				$(obj).articulate('setVoice','name','Google italiano').articulate('speak');
				break;
			case 13:
				$(obj).articulate('setVoice','name','Google 日本語').articulate('speak');
				break;
			case 14:
				$(obj).articulate('setVoice','name','Google 한국의').articulate('speak');
				break;
			case 15:
				$(obj).articulate('setVoice','name','Google Nederlands').articulate('speak');
				break;
			case 16:
				$(obj).articulate('setVoice','name','Google polski').articulate('speak');
				break;
			case 17:
				$(obj).articulate('setVoice','name','Google português do Brasil').articulate('speak');
				break;
			case 18:
				$(obj).articulate('setVoice','name','Google русский').articulate('speak');
				break;
			case 19:
				$(obj).articulate('setVoice','name','Google 國語（臺灣）').articulate('speak');
				break;
		}
	};

	function ratenormal(obj) {
		$(obj).articulate('rate', 1.0);
	};
	function ratefast(obj) {
		$(obj).articulate('rate', 3.0);
	};


</script>
{% endblock %} {% block content %}

<!--Buttons for controlling the race-->

<div class="row">
	<div class='col-xs-16'>
		<div class="btn-group">
			<button class="btn btn-default dropdown-toggle current_heat" id="current_heat" type="button" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="true">
		 Heat {{ current_heat }}
		 </button>
			<ul class="dropdown-menu set_current_heat">
				{% for heat in heats.query.with_entities(heats.heat_id).distinct() %}
				<li><a role="button" data-heat="{{ heat.heat_id }}">Heat {{ heat.heat_id }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<button type="button" class="btn btn-default" id="start_race" onclick="this.blur();">Start Race</button>
		<button type="button" class="btn btn-default" id="start_race_2min" onclick="this.blur();">Start Fixed Time Race</button> {% include
		"build_timer.html" %}
		<button type="button" class="btn btn-default" id="stop_race" disabled="disabled" onclick="this.blur();">Stop Race</button>
		<button type="button" class="btn btn-default" id="save_laps" disabled="disabled" onclick="this.blur();">Save Laps</button>
		<button type="button" class="btn btn-default" id="clear_laps" disabled="disabled" onclick="this.blur();">Clear Laps</button>
		<label for="calibrate_firs_pass">no calibration</label><input type="checkbox" id="calibrate_first_pass" name="calibrate_first_pass" value="calibrate_first_pass">
	</div>
</div>

<!--Space between button row and leaderboard-->
<p> </p>

<!--Display the race leaderboard-->
<div class="row">
	<div class='col-xs-16 col-md-12 '>
		<div class='panel panel-default'>
			<table class="table " id="leaderboard">
				<thead>
					<tr>
						<th>Pos.</th>
						<th>Pilot</th>
						<th>Laps</th>
						<th>Last Lap</th>
						<th>Behind</th>
						<th>Average</th>
						<th>Fastest</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--Display the current laps-->
<div class="row">
	{% for node in range(num_nodes) %}
	<div class="col-xs-12 col-md-3">
		<div class='panel panel-default'>
			<div class="panel-heading">
				<h4 class="panel-title callsign_{{ node }}">
					{{ pilots.query.filter_by( pilot_id=heats.query.filter_by(heat_id=current_heat,node_index=node).first().pilot_id ).first().callsign
					}}
					<button type="button" class="btn btn-default" id="recalibrate" data-node="{{node}}">Recalibrate</button>
				</h4>

			</div>
			<table class="table " id="current_laps_{{ node }}">
				<thead>
					<tr>
						<td colspan="2">
							rssi
							<div class="progress">
								<div id="current_rssi_bar_{{ node }}" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
									<span class="current_rssi_{{ node }}">0</span>
								</div>
							</div>
							trigger
							<div class="progress">
								<div id="trigger_rssi_bar_{{ node }}" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
									<span class="trigger_rssi_{{ node }}">0</span>
								</div>
							</div>
							peak
							<div class="progress">
								<div id="peak_rssi_bar_{{ node }}" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
									<span class="peak_rssi_{{ node }}">0</span>
								</div>
							</div>
						</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
